    <div class="toolsList">
    	<h1 style="margin-bottom: 20px">Technical Tools</h1>
    	<ul>
    		<li>❶<a href="wavePropagation.html">
Інструмент розрахунку поширення хвилі (для моделі вільного простору та двох хвиль)</a></li>
    		<li>❷<a href="fresnel.html">
Інструмент розрахунку зони Френеля</a></li>
    		<li>❸<a href="okumura.html">
Інструмент розрахунку кривої Окумура-Хата</a></li>
    		<li>❹<a href="creatingChannel.html">
Створення плану каналу для того, щоб уникнути інтермодуляційних перешкод третього порядку та інструменту проблеми «близько далеко».</a></li>
    		<li>❺<a href="heightPattern.html">
Інструмент розрахунку шаблону висоти</a></li>
    		<li>❻<a href="mutual.html">
Взаємне перетворення значення децибел і справжнього значення</a></li>
    	</ul>
    </div>